body {
  font-family: 'Roboto', sans-serif;
}

img.animal_photo {
  width: 300px;
  margin-bottom: 10px;
  border-style: solid;
  border-color: grey;
  border-width: 1px;
  border-radius: 5px;
}

div.card {
  border-style: solid;
  border-color: grey;
  border-width: 1px;
  width: 302px;
  padding: 10px;
  -webkit-box-shadow: 10px 10px 20px 1px rgba(191,189,191,1);
  -moz-box-shadow: 10px 10px 20px 1px rgba(191,189,191,1);
  box-shadow: 10px 10px 20px 1px rgba(191,189,191,1);
  background-color: #c3ccc2;
  border-radius: 5px;
}

div.animal_resume {
  border-style: solid;
  border-color: grey;
  border-width: 1px;
  width: 280px;
  padding: 10px;
  background-color: #edf5eb;
  border-radius: 5px;
}

.int_fact {
  font-style: italic;
}

ul.fact_list {
  list-style-type: none;
  padding: 0;
}

ul.fact_list li span {
  font-weight: bold;
}

p.source {
  font-size: 10px;
  text-align: right;
}
